{% extends 'base.html.twig' %}

{% block title %}Hello MedicamentController!{% endblock %}

{% block body %}

    <h1> {{ title }}</h1>

<table>
    <th>ID</th>
    <th>Libellé</th>

    {% for medoc in medicaments %}
        <tr>
        <td>{{ medoc.id }}</td>
        <td>{{ medoc.libelle }}</td>
        <td><a href="{{ path('medicament', {id:medoc.id}) }}"><button type="button">Afficher</button></td>
        </tr>
        {% else %}
        {% if medicaments is defined and medicaments != null %}
        <tr>
        <td>{{ medicaments.id }}</td>
        <td>{{ medicaments.libelle }}</td>
        </tr>
        {% else %}
         <p> Pas de médicaments </p>
        {% endif %}
    {% endfor %}

</table>
{% endblock %}
