{% extends 'base.html.twig' %}

{% block title %}Hello IndicationController!{% endblock %}

{% block body %}
<h1> {{ title }}</h1>

<div class="btn">
    <a href="{{path('formulaireIndication')}}"><button type="button">Ajouter indication</button></a>
    <a href="{{path('lesPatients')}}"><button type="button">Afficher les médicaments de chaque patient</button></a>
    <a href="{{path('indications')}}"><button type="button">Retour</button></a>
</div>

<table>
    <thead>
		<tr>
			<td>Nom du Patient</td>
			<td>Prénom du Patient</td>
			<td>Médicaments</td>
			<td>Début du traitement</td>
			<td>Durée du traitement</td>
			<td>Posologie</td>
		</tr>
	</thead>
    
        {% for indication in indications %}
        <tr>
            <td>{{indication.traitement.consultation.patient.nom}}</td>
            <td>{{indication.traitement.consultation.patient.prenom}}</td>
            <td>{{indication.medicament.libelle}}</td>
            <td>{{indication.traitement.dateDeb|date('d-m-Y')}}</td>
            <td>{{indication.traitement.duree}}</td>
            <td>{{indication.posologie}}</td>
            <td><a href="{{path('indication',{id:indication.id})}}"><button type="button">Afficher</button></td>
            <td><a href="{{path('modifIndication',{id:indication.id})}}"><button type="button">Modifier</button></a></td>
            <td><a href="{{path('supprIndication',{id:indication.id})}}" onclick="return confirm('Voulez-vous vraiment supprimer l'indication?')"><button type="button">Supprimer</button></a></td>	
        </tr>
        {% else %}
        {% if indications is defined and indications != null %}
        <tr>
            <td>{{indications.traitement.consultation.patient.nom}}</td>
            <td>{{indications.traitement.consultation.patient.prenom}}</td>
            <td>{{indications.medicament.libelle}}</td>
            <td>{{indications.traitement.dateDeb|date('d-m-Y')}}</td>
            <td>{{indications.traitement.duree}}</td>
            <td>{{indications.posologie}}</td>
        </tr>
        {% else %}
            Pas d'indication
        {% endif %}
        {% endfor %}
    
</table>

{% endblock %}
