{% extends 'base.html.twig' %}

{% block title %}Hello IndicationController!{% endblock %}

{% block body %}
{% set test = [] %}

<h1>{{ title }}</h1>

<table>
    <thead>
		<tr>
			<td>Nom du Patient</td>
			<td>Prénom du Patient</td>
			<td>Début du traitement</td>
			<td>Médicaments</td>
		</tr>
	</thead>
    
        {% for patient in patients %}
        <tr>
            <td>{{ patient.nom }}</td>
            <td>{{ patient.prenom }}</td>
            {% for consultations in patient.consultations %}
                {% for traitements in consultations.traitements %}
                </tr>
                <tr>
                <td colspan=2></td>
                <td>{{ traitements.dateDeb|date('d-m-Y')}}</td>
                    {% for indication in traitements.indication %}
                        {% set test = test|merge([indication.medicament.libelle]) %}
                    {% endfor %}
                <td><ul>
                {% for affichage in test %}
                <li>
                {{affichage}}
                </li>
                {% endfor %}
                </ul></td>
                {% set test = [] %}
                {% endfor %}
            {% endfor %}
        </tr>
        {% else %}
        {% endfor %}
    
</table>
{% endblock %}
