{% extends 'base.html.twig' %}

{% block title %}Hello ConsultationController!{% endblock %}

{% block body %}

    <h1> {{ title }}</h1>

    <table>
    <th>ID</th>
    <th>Patient</th>
    <th>Date</th>

    {% for consult in consultations %}
        <tr>
        <td>{{ consult.id }}</td>
        <td>{{ consult.patient.nom }}</td>
        <td>{{ consult.date | date("d-m-Y")}}</td>
        <td><a href="{{ path('consultation', {id:consult.id}) }}"><button type="button">Afficher</button></td>
        <td><a href="{{ path('modifier_consultation', {id:consult.id}) }}"><button type="button">Modifier</button></td>
        <td><a href="{{ path('supprimer_consultation', {id:consult.id}) }}"><button type="button" onclick="return confirm('Souhaitez-vous supprimer ?')">Supprimer</button></td>
        </tr>
        {% else %}
        {% if consultations is defined and consultations != null %}
        <tr>
        <td>{{ consultations.id }}</td>
        <td>{{ consultations.patient.nom }}</td>
        <td>{{ consultations.date | date("d-m-Y")}}</td>
        </tr>
        {% else %}
         <p> Pas de consultations </p>
        {% endif %}
    {% endfor %}

    </table>

    <a href="{{ path('ajout_consultation') }}"><button type="button">Ajouter</button></a>

{% endblock %}
