{% extends 'base.html.twig' %}

{% block title %}
{% endblock %}

{% block body %}

<table>

   <thead>
    <th>ID traitement</th>
    <th>Duree</th>
    <th>Date début</th>
    <th>Patient</th>
    <th>Medicament</th>

   </thead>
    <tbody>
    
    {% for traitement in traitements %}
        {% for indication in traitement.indication %} 

                {% set traitementss= indication.medicament.libelle %}

           {% if indication.medicament.libelle == traitementss  %}
<tr>
        <td>{{traitement.consultation.id}}</td>
        <td>{{traitement.duree}}</td>
        <td> {{traitement.datedeb| date('d-m-Y')}}</td>
        <td>{{traitement.consultation.patient.nom}}</td>
        <td> {{indication.medicament.libelle}}</td>

        {% endif %}
        {% else %}

        {% endfor %}
        {% endfor %}

{% endblock %}






   