
<nav class="menu">

	<ul class="nav_links">

		<li>
			<a href="{{path('medicaments')}}">Medicaments</a>
		</li>
		<li>
			<a href="{{path('traitements')}}">Traitements</a>
		</li>
		<li>
			<a href="{{path('indications')}}">Indications</a>
		</li>
		<li>
			<a href="{{path('consultations')}}">Consultations</a>
		</li>
		
	</ul>

{% if is_granted('IS_AUTHENTICATED_FULLY') %}
Connecté en tant que {{ app.user.email }}
<a href="{{ path('app_logout') }}"> logout </a>
{% else %}
<a href="{{ path('app_login') }}"> Login </a>
{% endif %}

</nav>

